/** @format */
.page{
    color: black;
}

.modal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.468);
    padding: 20px;
    max-width: 400px;
    margin: 4rem auto;
  }
  
  .action_button {
    cursor: pointer;
    color: #3498db;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form div {
    margin-bottom: 15px;
  }
  
  h3 {
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    color: black !important;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit_button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
  }