@tailwind base;
@tailwind components;
@tailwind utilities;
.animate:hover{
    animation: sm 5s ease-in;
    animation-iteration-count: 1;
}
.animate{
    display: flex;
    justify-content: start;
}
@keyframes sm {
    0%{
        height: 211px;
        width: 376px;
    }
    100%{
        height: 100px;
        width: 178.2px;
    }
}